api/**pycache**
api/README.md
core/**pycache**
frontend/readme.md
requirements-dev.txt
README.md
.gitignore
venv
test
schema/**pycache**
logs
frontend/src/images/preview_attendance.png
frontend/src/images/preview_dashboard.png
frontend/src/images/preview_login.png
frontend/hash.py
.vscode
data
docs
.env
notes-1.md
notes.md
README.md
render.yaml
requirements-dev.txt
