api/**pycache**
api/README.md
core/**pycache**
static/readme.md
requirements-dev.txt
README.md
.gitignore
venv
test
schema/**pycache**
logs
static/assets/images/preview_attendance.png
static/assets/images/preview_dashboard.png
static/assets/images/preview_login.png
static/hash.py
.vscode
data
docs
.env
notes-1.md
notes.md
README.md
render.yaml
requirements-dev.txt
launcher.py
winx64.spec