test.py
core/__pycache__
notes.md
data
logs
schema/__pycache__
api/__pycache__
__pycache__/main.cpython-313.pyc
test/__pycache__
.env
__pycache__/app.cpython-313.pyc
static/.hash_mapping.json
static/notes.md
static/hash.py
static/venv
notes-1.md
mcp
.vscode
/build
/dist