test.py
core/__pycache__
notes.md
data
logs
schema/__pycache__
api/__pycache__
__pycache__/main.cpython-313.pyc
test/__pycache__
.env
__pycache__/app.cpython-313.pyc
frontend/.hash_mapping.json
frontend/notes.md
frontend/hash.py
frontend/venv
notes-1.md
mcp
.vscode
/build
/dist